* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100%;
    width: 100%;
   
}
.main{
    width: 90%;
    max-width: 700px;
    margin: auto;
}
.add_task {
    width: 12%;
    border: none;
    border-radius: 25px;
     position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    gap: 20px;
   padding: 10px;
   background: rgb(50, 50, 50);
   transition: 3s;
    color: rgb(255, 255, 255);
    
}
.add_task:hover{
     background-color: azure;
     color:rgb(35, 33, 33);
     box-shadow: 2px 2px 4px gray;
}
.add_task p{
    font-size: 20px;
    font-weight: 600;
    padding-top: 8px;
    padding-left: 20px;
}
.add_task i{
    font-size: 37px;
    font-weight: 600;
}

.Searching_tab {
    position: absolute;
    top: 20%;
    left: 40%;
     transform: translate(-30%, -40%);
    width: 40vw;
    height: 7vh;
    /* border: 2px solid rgb(144, 142, 142); */
    padding: 3px;
    display: flex;
    gap: 10px;
    border-radius: 25px;
    box-shadow: 4px 4px 8px rgb(132, 130, 130);
     transition: 0.3s;
}
.Searching_tab:focus-within{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.Searching_tab input {
    width: 100%;
    height: 5vh;
    padding-left: 30px;
    border: none;
    outline: none;
    margin: 5px;
   text-transform: capitalize;
   color:rgb(32, 31, 31);
    font-size: 1rem;
    outline: none;
}
.Searching_tab i{
    font-size: 30px;
    padding-right: 30px;
    padding-top: 4px;
    color: rgb(73, 72, 72);
   
}
.Searching_tab i:hover{
    color: black;
}


.task_list{
    width: 45%;
     position: absolute;
    top: 37%;
    left: 40%;
     transform: translate(-34%, -30%);
   padding: 10px 30px;
   display: flex;
   flex-direction: column;
   gap: 30px;
  
}
.task1{
 /* background-color: rgb(217, 211, 211); */
 padding: 13px 40px;
 border-radius: 10px;
 box-shadow: 2px 2px 6px grey;
 background: white;
    border-left: 7px solid teal;
    transition: 0.3s;
   
}
.task1:hover{
    transform: translateY(-3px);
}

/* form */
.task_form_container{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 2;
}
.form{
    background-color: rgb(255, 255, 255);
    height: 80%;
    width: 30%;
    padding: 15px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   display: flex;
   flex-direction: column;
   gap: 30px;
   border-radius: 20px;
   box-shadow: 8px 8px 17px gray;
}
section{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading i{
    font-size: 30px;
    color: rgb(36, 35, 35);
}
.heading h1{
    font-size: 30px;
    color: rgb(36, 35, 35);
}
label{
    font-size: 15px ;
}
.input_form{
    height: 5vh;
    padding:0 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 4px gray;
}
.input_form{
    box-shadow: 0px 0px 6px gray;
}

textarea{
     padding:5px 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 4px gray;
}
textarea:hover{
    box-shadow: 0px 0px 6px gray;
}
select{
    height: 5vh;
    padding:0 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 4px gray;
  
   
}
option{
    text-align: left;
    font-size: 15;
    border: none;
    outline: none;
    
}
select:hover{
    box-shadow: 0px 0px 6px gray;
}

.create_task{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(31, 121, 104);
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: 3s;
}
.create_task:hover{
     background-color: rgb(19, 81, 70);
}